@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #000315;
}
.app-container {
  font-family: "Press Start 2P", system-ui;
  color: white;
}