@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  color: #fffbef;
  background-color: #000315;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-container {
  font-family: "Press Start 2P", system-ui;
}