.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* min-height: calc(100vh - 180px); */
}

.playground {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  max-height: calc(90vh - 200px);

}

.tilt-component {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card {
  cursor: pointer;
  will-change: transform;
  background-color: transparent;
  width: clamp(120px, 220px, 220px);
  aspect-ratio: 2.5 / 3.5;
  perspective: 1000px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card.flip-card--flip .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.flip-card-front {
  background-color: aqua;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-name-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px 7px 10px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: clamp(0.5rem, 2vw, 1rem);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  pointer-events: none;
}

.flip-card-back {
  background-color: olivedrab;
  transform: rotateY(180deg);
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounds-info {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  bottom: 10px;
  right: 50;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
}

.rounds-count {
  color: #ffcc00;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .playground {
    gap: 1rem;
  }

  .playground.count-3 .flip-card {
    flex-basis: calc(33.333% - 1rem);
  }

  .playground.count-4 .flip-card {
    flex-basis: calc(45% - 1rem);
  }

  .playground.count-5 .flip-card {
    flex-basis: calc(33.333% - 1rem);
  }

  .rounds-info {
    font-size: .75rem;
    padding: 8px 16px;
    bottom: unset;
    top: 15%;
  }

  .rounds-count {
    font-size: .8rem;
  }
}