.dialog-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.dialog-box-frame {
  width: 500px;
  max-width: 90vw;
  background: url("../assets/frame.png") no-repeat center;
  background-size: 100% 100%;
  padding: 1.25rem;
  image-rendering: pixelated;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.dialog-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 300px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #262644, #1a1a30);
  padding: 3rem 0;
  text-align: center;
  border: 2px solid #000000;
  box-shadow: 27px 20px 0px 0px rgba(0, 0, 0, 0.1);
}

.dialog-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 0 1.2rem 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 4px 4px 0 #000;
}

.title-win {
  color: #74ff74;
}

.title-lost {
  color: #ff5c4d;
}

.dialog-score {
  font-size: 1.2rem;
  margin: 0 0 2.5rem 0;
  color: #e2e2e2;
  text-shadow: 2px 2px 0 #000;
}

@media (max-width: 600px) {
  .dialog-content-area {
    max-height: 36vh;
  }
  .dialog-title {
    font-size: 1.5rem;
  }

  .dialog-score {
    font-size: 1rem;
  }
}
